<div class="" style="height: 65px;">
	<nav class="navbar" style="position: fixed; z-index: 9999;">
		<div class="herder_containter" style="display: flex; width: 100%;">
			<div class="navbrand">
				<h1><a routerLink="index" class="brand"><img src="./assets/images/logo.png"></a></h1>
			</div>
			<div style="float: right; width: 100%;">
				<ul class="menu" id="menu" >
					<li class="menu-item"><a routerLink="home" class="menu-link">HOME</a></li>
					<li class="menu-item"><a routerLink="blog" class="menu-link">Blogs</a></li>
					<li class="menu-item"><a routerLink="index" class="menu-link">Webinars </a></li>
				</ul>
			</div>
		</div>
	</nav>
</div>

<div>
<router-outlet></router-outlet>
</div>
