 
<div class="footer">
    <br>
    <span>@Copyright <a href="https://www.webicoun.com/"> webicoun </a> 2020- All Right Reserved. </span>
    <br><br>
    <div class="social">
        <a href="#" class="social-item"><img width=40; src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQsw9CgWug-VYyGVR09d-2IQcEsFGdyQ_IZCerlfgvoFk1zMXR9Q63qQrMjd-mIZO8FPpc&usqp=CAU"></a>
        <a href="#" class="social-item"><img width=40; src="https://png.pngtree.com/element_our/md/20180626/md_5b321ca3631b8.jpg"></a>
        <a href="#" class="social-item"><img width=40; src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOoDpSeYu735C6SnKoFZk4xRR5TkB3MF41aWEhvI7VGSzkuNudUkuP3MqqlQfPYAbpav4&usqp=CAU"></a>
    </div>
</div>
