<style type="text/css">
 @import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Lobster);
</style>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
   <!-- <body> -->
    <div class="Blogheader">
        <img width="330" src="./assets/images/blog.png" />
    </div>
    <div class="blog-outer-container">
        <div class="container-fluid">
            <h2 style="position: absolute; margin: -48px 23px 0px 20px;">Latest</h2>
            <div class="row"> 
                <div class="col-lg-4 col-md-4 col-sm-6" style="margin-left: unset;">
                    <div class="main-celebration-bl">
                        <a class="openblog-contant" href="#" >
                            <div class="image-field">
                                <img width="40" style="position: absolute; padding: 4px;" src="./assets/images/favion2.png" />
                                <img class="main-image" src="./assets/images/set-banners-mental-health-with-icons_24877-66966.jpeg" alt="blog image" />
                            </div>
                            <div class="blogtitle">Celebrating Teacher’s Day: Changing Role of the Educator in Today’s Dynamic World</div>
                        </a>
                         
                    </div>
                    
                </div>
                
                <div class="col-lg-4 col-md-4 col-sm-6" style="margin-left: unset;">
                    <div class="main-celebration-bl">
                        <a class="openblog-contant" href="#" >
                            <div class="image-field">
                                <img width="40" style="position: absolute; padding: 4px;" src="./assets/images/favion2.png" />
                                <img class="main-image" src="./assets/images/set-banners-mental-health-with-icons_24877-66966.jpeg" alt="blog image" />
                            </div>
                            <div class="blogtitle">Celebrating Teacher’s Day: Changing Role of the Educator in Today’s Dynamic World</div>
                        </a>
                    </div>
                     
                </div>
                
                <div class="col-lg-4 col-md-4 col-sm-6" style="margin-left: unset;">
                    <div class="main-celebration-bl">
                        <a class="openblog-contant" href="#" >
                            <div class="image-field">
                                <img width="40" style="position: absolute; padding: 4px;" src="./assets/images/favion2.png" />
                                <img class="main-image" src="https://static.toiimg.com/photo/77939995.cms" alt="blog image" />
                            </div>
                            <div class="blogtitle">Celebrating Teacher’s Day: Changing Role of the Educator in Today’s Dynamic World</div>
                        </a>
                    </div>
                     <div id="allblog" style="display: none;">
                        <div class="col-lg-4 col-md-4 col-sm-6" style="margin-left: unset;">
                            <div class="main-celebration-bl">
                                <a class="openblog-contant" href="#" >
                                    <div class="image-field">
                                        <img width="40" style="position: absolute; padding: 4px;" src="./assets/images/favion2.png" />
                                        <img class="main-image" src="https://static.toiimg.com/photo/77940004.cms" alt="blog image" />
                                    </div>
                                    <div class="blogtitle">Celebrating Teacher’s Day: Changing Role of the Educator in Today’s Dynamic World</div>
                                </a>
                            </div>
                             
                        </div>
                        
                        <div class="col-lg-4 col-md-4 col-sm-6" style="margin-left: unset;">
                            <div class="main-celebration-bl">
                                <a class="openblog-contant" href="#" >
                                    <div class="image-field">
                                        <img width="40" style="position: absolute; padding: 4px;" src="./assets/images/favion2.png" />
                                        <img class="main-image" src="https://static.toiimg.com/photo/77939995.cms" alt="blog image" />
                                    </div>
                                    <div class="blogtitle">Celebrating Teacher’s Day: Changing Role of the Educator in Today’s Dynamic World</div>
                                </a>
                            </div>
                     </div>
                </div>
                
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="viewall-latestblog" style="text-align: center;">
                <div class="btn" id="viewAllblog">
                    View All &gt;&gt;
                </div>
        </div>
    </div>
    <br>
       
    <!-- </body> -->
    <script>
        document.getElementById("viewAllblog").onclick = function(){
            alert()
             var x = document.getElementById("allblog");
             if (x.style.display === "none") {
                 x.style.display = "block";
             } else {
                 x.style.display = "none";
             }
             }
    </script>
